<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19379" newVersion="1.9.3.19379" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.3.19379" newVersion="1.9.3.19379" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- Setup log4net config options -->
  <log4net>
    <!-- Define file appender for system logs -->
    <appender name="SysRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="system-logs\" />
      <appendToFile value="true" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <threshold value="Info"/>
    </appender>
    <!-- Define file appender for game logs -->
    <appender name="GameRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="game-logs\" />
      <appendToFile value="true" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;" />
        <footer value="[Footer]&#13;&#10;" />
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <threshold value="Info"/>
    </appender>
    <!-- Define console appender for all logging -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <!-- Not used -->
    </root>

    <!-- Specify the level for some specific categories -->
    <logger name="GmailGameNarrator">
      <level value="ALL" />
      <appender-ref ref="SysRollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="GmailGameNarrator.Game">
      <level value="ALL" />
      <appender-ref ref="GameRollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
</configuration>